[submodule "vimfiles/pack/vim-pack-colors"]
	path = vimfiles/pack/vim-pack-colors
	url = git@github.com:magicmonty/vim-pack-colors.git
	ignore = dirty
[submodule "vimfiles/pack/vim-pack-general"]
	path = vimfiles/pack/vim-pack-general
	url = git@github.com:magicmonty/vim-pack-general.git
	ignore = dirty
[submodule "vimfiles/pack/vim-pack-dotnet"]
	path = vimfiles/pack/vim-pack-dotnet
	url = git@github.com:magicmonty/vim-pack-dotnet.git
	ignore = dirty
[submodule "vimfiles/pack/vim-pack-blog"]
	path = vimfiles/pack/vim-pack-blog
	url = git@github.com:magicmonty/vim-pack-blog.git
	ignore = dirty
[submodule "vimfiles/pack/vim-pack-windows"]
	path = vimfiles/pack/vim-pack-windows
	url = git@github.com:magicmonty/vim-pack-windows.git
	ignore = dirty
[submodule "vimfiles/pack/vim-pack-office"]
	path = vimfiles/pack/vim-pack-office
	url = git@github.com:magicmonty/vim-pack-office.git
  ignore = dirty
